<ion-view title="Specifics" right-buttons="rightButtons">
    <ion-content has-header="true" has-tabs="true" padding="true">
        <div class="list">
     <ul class="collection">
        <a href="#!" class="collection-item">Select Vehicle Type : </a> 
 

  <button class="btn waves-effect waves-light" type="submit" ng-click="have_update(1);" ui-sref="app.wait_have">2 wheeler
    
  </button> &nbsp;&nbsp;&nbsp;
  <button class="btn waves-effect waves-light" type="submit" ng-click="have_update(2);" ui-sref="app.wait_have">4 wheeler
    
  </button>
  </ul>
  

    </ion-content><br><br>
    
    
</ion-view>
