<ion-view title="PoolSchool" right-buttons="rightButtons">
    <ion-content has-header="true" has-tabs="true" padding="true">
        {{user.attributes.email}}
        {{user.attributes.bal}}
        <label class="item item-input">
                <input type="number" ng-model="user.newbal" placeholder="Bal">
            </label>
        <button class="button button-block button-positive" ng-click="update()" ui-sref="app.updateval">
            Subtract
        </button>
    </ion-content>
</ion-view>
