<ion-view title="PoolSchool" right-buttons="rightButtons" >
    <ion-content padding="true">
        
       
        <button class="btn-large waves-effect waves-light orange btn-width-full" ui-sref="app.haveride">
            Have a ride
        </button><br><br><br>

        <button class="btn-large waves-effect waves-light blue btn-width-full" ui-sref="app.wantride" >
            Want a ride
        </button>
<br><br><br>

        <button class="btn-large waves-effect waves-light green btn-width-full" >
            Pool
        </button>

    </ion-content>
</ion-view>
    