<ion-view title="Request Logged" right-buttons="rightButtons">
    <ion-content has-header="true" has-tabs="true" padding="true">
        <div class="list">
 
 {{InfoText}}
 <br><br>
 <button class="btn waves-effect waves-light green" type="submit" ng-click="want_success()" >{{button}}
    
  </button> &nbsp;&nbsp;&nbsp;
  <button class="btn waves-effect waves-light red" type="submit" ng-click="want_fail();" ui-sref="app.home" id="noride">No Ride
    
  </button>
  </ul>
</ion-content><br><br>
   
</ion-view>
