<ion-view title="Application Name" style="background-color:#ba112b;">
   <button class="btn-large waves-effect waves-light green" style="width:100%; padding-left:0vw; margin-left:0vw;" >Pool School 1.0.1</button>
    <ion-content has-header="true"  has-tabs="true" padding="true">
    <div style="margin-top:10%;">
    	
        <button class="btn-large waves-effect waves-light blue btn-width-full" style="margin-top:10%;" ng-click="login()">
            LOG IN
        </button>
<br><br>
        <button class="btn-large waves-effect waves-light orange btn-width-full" ng-click="signUp()">
            SIGN UP
        </button>
    </ion-content>
</ion-view>
